.container {
  display: flex;
  align-items: center;
  color: #000;
}

.container label {
  cursor: pointer;
  display: flex;
}

.container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.container label::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.05em solid #000;
}

.container label:hover::before,
.container input[type="checkbox"]:hover + label::before {
  opacity: 0.5;
}

.container input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 20px #000;
}

.container input[type="checkbox"]:checked + label::before {
  content: "\002714";
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
